<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devstories.nomadnote_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".base.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.NotDisturbActivity"
            android:theme="@style/NoTitleDialog" ></activity>
        <activity
            android:name=".activities.CompanyInfomationActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.FindIDAndPasswdActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_id" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.devstories.nomadnote_android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvJBo84qIpv_0QDYkLNFsHCq4SFawyeZI" />

        <activity
            android:name=".activities.IntroActivity"
            android:noHistory="true"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />

                <!-- <data android:scheme="@string/fb_login_protocol_scheme" /> -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="30c846cc5fc8a6f301a8fc0cc2e9e7f3" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver android:name=".sms.SmsBroadcastReceiver">
            <intent-filter android:priority="10000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".sms.MmsBroadcastReceiver">
            <intent-filter android:priority="10000">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider2158792287772424"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!--
              <activity
              android:name=".activities.IntroActivity"
              android:theme="@style/NoTitleDialog"
              android:windowSoftInputMode="adjustResize|stateHidden"/>
        -->
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.Login2Activity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="nomadnote" />
                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Solo_detail_Activity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.MapSearchActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.WriteActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MyinfoChangeActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.MemberInputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.EmailJoinActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.VisitNationActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.FindPictureGridActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.QuestionActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.AddFriendActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.CountryTimelineActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>